@font-face {
  font-family: "Poppins-Regular";
  src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("./fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("./fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("./fonts/Poppins-Bold.ttf");
}

* {
  margin: 0;
  bottom: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins-Regular", sans-serif;
}

button {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.btn {
  background: #710984;
  border: 1px solid #710984;
  border-radius: 6px;
  padding: 0.75rem 5rem;
  color: #fff;
}

.input {
  border: 1px solid #9b96b7;
  border-radius: 6px;
  padding: 0.75rem 1rem;
  margin-right: 1.25rem;
}

input {
  color: #9b96b7;
}

/* Text elements */
.welcome-text {
  line-height: 1.2rem;
  margin-bottom: 0.5rem;
}

.card-title {
  line-height: 1.4rem;
  margin-bottom: 1rem;
}

/*Header*/
header {
  padding: 1rem 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 2.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  height: 5rem;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-family: "Poppins-SemiBold", sans-serif;
}

/* Main */
main {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
}

/* Sections */
.section {
  width: 48%;
}

.section h2 {
  margin-bottom: 1.25rem;
}

/* Left side */
.section-right,
.section-left {
  transition: all 1s ease-out;
}
.hide-left {
  transform: translateX(-500%);
  opacity: 0;
}

/* Card */
.card {
  width: 26.7rem;
  background: linear-gradient(68.23deg, #041464 -15.21%, #94058e 100%);
  border-radius: 2rem;
  color: #fff;
  padding: 1.25rem 1.875rem;
  margin-bottom: 5.125rem;
}

.card-type {
  margin-bottom: 0.9rem;
  font-family: "Poppins-Medium", sans-serif;
  line-height: 1.3rem;
}

.card img {
  margin-bottom: 1.25rem;
}

.card-balance {
  font-family: "Poppins-Bold", sans-serif;
  font-size: 2rem;
  margin-bottom: 1.25rem;
  line-height: 1.2rem;
}

.card-owner {
  font-family: "Poppins-Medium", sans-serif;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.card-number {
  line-height: 1.4;
}

.card-balance {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.transfer {
  margin-top: 5.125rem;
}
.form-transfer {
  display: flex;
  flex-direction: column;
}

.form-transfer input {
  border: none;
  border-bottom: 1px solid #e5e3f1;
  margin-bottom: 2.5rem;
  color: black;
  font-size: 1.125rem;
  width: 430px;
  line-height: 1.5;
}

.form-transfer input::placeholder {
  color: #b9b8c0;
}

.btn-send {
  padding: 1rem 0;
  width: 430px;
}

/*Right side*/
.hide-right {
  transform: translateX(500%);
  opacity: 0;
}

/*Summary*/
.summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}
.summary-card {
  padding: 1.875rem 10px;
  border-radius: 6px;
  font-family: "Poppins-Regular";
  font-size: 1.5rem;
  text-align: center;
  width: 45%;
  line-height: 1.3;
}

.incomes {
  background-color: rgba(6, 136, 34, 0.1);
  color: #068822;
}

.expenses {
  background-color: rgba(184, 13, 13, 0.1);
  color: #b80d0d;
}

/*Transfers list*/
.transfers-list {
  list-style: none;
  padding: 1.25rem 1.875rem;
  background-color: #f8f7ff;
  border-radius: 6px;
  height: 600px;
  overflow-y: auto;
}
.transfer-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}
.transfer-type {
  font-size: 1.125rem;
  font-family: "Poppins-Medium", sans-serif;
  line-height: 1.3;
}
.transfer-amount {
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
}
.btn-exit {
  color: red;
  padding: 0.5rem 1rem;
  border: 1px solid red;
  border-radius: 6px;
}
.watch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.green {
  color: green;
}

.red {
  color: red;
}
.hide {
  display: none;
}

/* Responsive styles for screens up to 786px */
@media (max-width: 786px) {
  main {
    flex-direction: column;
    gap: 2rem;
  }

  .header-inner {
    h1 {
      font-size: 1.5rem;
    }
  }

  .watch {
    h2,
    span {
      font-size: 1.5rem;
    }
  }
  .section {
    width: 100%;
  }
  .btn-exit {
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
  }
}

/* Responsive styles for screens up to 480px */
@media (max-width: 480px) {
  * {
    font-size: 1rem;
  }
  .header-inner {
    h1 {
      font-size: 1.2rem;
    }
  }

  .watch {
    h2,
    span {
      font-size: 1.2rem;
    }
  }
  .section {
    width: 100%;
  }
  .btn-exit {
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
  }
}
